<html>
    <head>
        <title> Tasks Application</title>
    </head>
    <body>
        <!--- Menu --->
        <a href="/"> Home </a> 
        <a href="/tasks"> Tasks </a>
        

        <h1>Create Task</h1>
        <form  method="Post" action="/tasks">
            <label for="textInput">Text:</label>
            <input type="text" id="textInput" name="text">
            <input type="submit" >
        </form>
      
    </body>
</html>  