<html>
    <head>
        <title>Tasks Application</title>
    </head>
    <body>
        <!-- Menu -->
        <a href="/"> Home </a>
        <a href="/tasks"> Tasks </a>

        <h1>Tasks</h1>
        <p>Application</p>
        <a href="https://www.isel.pt"> ISEL </a>
    </body>
</html>