<html></html>
    <head>
        <title>Tasks Application</title>
    </head>
    <body>
        <!-- Menu -->
        <a href="/"> Home </a>
        <a href="/tasks"> Tasks </a>

        <ul>
            <li>id : {{task.id}}</li>
            <li>text : {{task.text}} </li>
        </ul>   

        <a href="https://www.isel.pt"> ISEL </a>
    </body>
</html>